*{
    margin: auto;
}

#card_background{
    background: #dedede;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background_card_login{
    height: 80vh;
    width: 27%;
    background: steelblue;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    flex-direction: column;
    margin-right: 0;
    
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.478);
}


.card_login{
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 40%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;


    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.478);
}

.card_login_principal{
    height: 70vh;
    width: 70%;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    flex-direction: column;
    


    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.145);
}

img{
    height: 30vh;
    width: 100%;
}

h1{
    text-align: center;
}

h2{
    margin-top: 50px ;
    text-align: left;
}

.text{
    text-align: left;
    margin-left: 15px;
}

span{
    color: rgb(9, 37, 89);
}

#login_title{
    text-align: center;
}

.text2{
    text-align: center;
    margin-top: 5px;
    color: #757575;
}

.senha_matricula{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.5px solid;
    display: flex;
    width: 85%;
    height: 40px;

}

.texto_textbox{
    margin-left: 20px;
    margin-top: 40px;
}

#botao_login{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 70%;
    border-radius: 6px;
    border: 0.5px solid;
    background-color:   rgb(0, 75, 136);
    color: white;
}

#botao_login:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.542);
    transform: scale(1.02);
    transition: 0.5s;
    border: none;
}

#clique_aqui{
    text-decoration: none;
    color: blue;
}

#esqueceu_senha{
    margin-top: 25px;
}